body {
  font-family: arial;
}
.category {
  max-width: 1200px;
  margin: 0 auto;
}
.category-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: #012c56;
}
.category-grid {
}

.category-grid__sip {
  background: url(images/sip.png) no-repeat right 0 bottom 0px #f2eddc;
  background-size: 72%;
  grid-area: sip;
}
.category-grid__brick {
  background: url(images/block.png) no-repeat right 0 bottom 0px #eddbd3;
  grid-area: brick;
  background-size: 72%;
}
.category-grid__stone {
  background: url(images/brick.png) no-repeat right 0 bottom 0px #e3e5ec;
  background-size: 72%;
  grid-area: stone;
}
.category-grid__n1 {
  background: url(images/brick.png) no-repeat right 0 bottom 0px #e3e5ec;
  background-size: 72%;
  grid-area: stone;
}
.category-grid__n1 {
  background: url(images/garaj.png) no-repeat right 0 bottom 0px #ebd5e1;
  background-size: 88%;
  grid-area: n1;
  background-color: ;
}
.category-grid__n2 {
  grid-area: n2;
  background-color: #e2f0e4;
}
.category-grid__item {
  height: 370px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.category-grid__item:last-of-type {
  margin-bottom: 0;
}
.category-grid__title {
  color: #342623;
  position: absolute;
  display: block;
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0 0 20px;
  pointer-events: none;
}
.category-grid__subtitle {
  display: inline;
}
.category-grid__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 10%;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: 0.15s;
}

.category-grid__bg {
  background: url(images/arrow.png) no-repeat right 30px bottom 17px #eddbd3;
  background-size: 10%;
}
.category-grid__bg_stone {
  background: url(images/arrow.png) no-repeat right 30px bottom 17px #e3e5ec;
  background-size: 10%;
}
.category-grid__bg_sip {
  background: url(images/arrow.png) no-repeat right 30px bottom 17px #f2eddc;
  background-size: 10%;
}
.category-grid__bg_n1 {
  background: url(images/arrow.png) no-repeat right 30px bottom 17px #ebd5e1;
  background-size: 10%;
}
.category-grid__bg_n2 {
  background: url(images/arrow.png) no-repeat right 30px bottom 17px #e2f0e4;
  background-size: 10%;
}
.category-grid__subcategory {
  position: absolute;
  display: block;
  margin: 95px 0 0 58px;
  padding: 0;
  list-style: none;
}
.category-grid__sub-item {
  margin-bottom: 10px;
}
.category-grid__sub-link {
  text-decoration: none;
  color: #524441;
  text-decoration: underline;
  font-size: 1.1rem;
}
.category-grid__sub-link_big {
  font-size: 1.1rem;
}
.category-grid__item:hover .category-grid__subcategory {
  display: block;
}
.category-grid__item:hover .category-grid__bg {
  transition: 0.1s;
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}
.category-grid__item:hover .category-grid__subtitle {
  display: inline;
}

.category-grid__bg-circle {
  position: absolute;
  display: none;
  right: 43px;
  bottom: -22px;
  opacity: 0.6;
  filter: blur(65px);
  z-index: 2;
  pointer-events: none;
}
.category-grid__bg-circle_brick {
  width: 105px;
  height: 114px;
  background: #b93030;
}
.category-grid__bg-circle_stone {
  width: 255px;
  height: 145px;
  background: #747b93;
}
.category-grid__bg-circle_sip {
  width: 105px;
  height: 114px;
  background: #a28521;
}
.category-grid__brick:hover .category-grid__bg-circle,
.category-grid__stone:hover .category-grid__bg-circle,
.category-grid__sip:hover .category-grid__bg-circle {
  display: block;
}
@media (min-width: 640px) {
  .category-grid__stone,
  .category-grid__sip,
  .category-grid__brick,
  .category-grid__bg_n1,
  .category-grid__bg_n2 {
    background-size: 70%;
  }
}
@media (min-width: 840px) {
  .category-grid__stone,
  .category-grid__sip,
  .category-grid__brick,
  .category-grid__bg_n1,
  .category-grid__bg_n1 {
    background-size: 52%;
  }
}
@media (min-width: 1200px) {
  .category-grid__item {
    margin-bottom: 0;
  }
  .category-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "stone brick sip"
      "stone n1 n2";
  }
  .category-grid__stone {
    min-height: 500px;
  }
  .category-grid__subcategory {
    display: none;
  }
  .category-grid__subtitle {
    display: block;
  }
  .category-grid__title {
    margin: 35px 0 0 35px;
  }
  .category-grid__subcategory {
    margin: 95px 0 0 58px;
  }
  .category-grid__stone,
  .category-grid__sip,
  .category-grid__brick,
  .category-grid__bg_n1 {
    background-size: 85%;
  }
  .category-grid__item {
    height: auto;
  }
}
